
.central{
    background-color: rgb(241, 242, 244);
    width: 100%;
    border-radius: 10px;

}
.central__header{
    display: flex;
   
}

.central__card{
    height: 150px;
    width: 100%;
    border-radius:12px ;
    margin: 15px;
    position: relative;
}

.central__card--purple{
    background-color: rgb(104, 23, 180);
}
.central__card--blue{
    background-color: rgb(54, 93, 210);
}

.central__h2 , .central__span{
    color: white;
}

.central__buttonOptions{
   background-color: rgba(255, 255, 255, 0.102);
    border-radius: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
}


.central__button{
    background-color: rgba(255, 255, 255, 0.102);
    border-radius: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 30px 0 0 20px;
}

.central__valores{
    display: flex;
}

.central__price{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.central__buttonUp{
    color: white;
}

.central__span{
    font-size: 0.8rem;
}
.estadisticas{
   padding: 20px;
   background-color: white;
   border-radius: 15px;
   margin: 10px;
}
.estadisticas__header{
    display: flex;
    justify-content: space-between;
}

.estadisticas__growth{
    display: flex;
    flex-direction: column;
}

.estadisticas__span{
    font-size: 0.8rem;
    opacity: 0.7;
}

.estaditicas__price{
    font-weight:900;
}



.section1{
    display: flex;
    width: 100%;
}
.lateral__izquierdo{
    
    width: 50%;
}

.estaditicas__button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid black 1px;
    opacity: 0.8;
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
    height: 30px;
    width: 60px;
}
.estaditicas__button:hover{
    background-color: rgb(54, 93, 210);
    color: white;
}


.lateral__card{
    margin: 5px 0 0 0 ;
    height: 70px;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
}

.lateral__card--azul{
    background-color: rgb(54, 93, 210); 
}

.lateral__icon{
    background-color: rgba(255, 255, 255, 0.102);
    border-radius: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 10px;
}

.lateral__icon2{
    height: 20px;
    width: 20px;
}

.lateral__info{
    display: flex;
    flex-direction: column;
}

.lateral__infoo{
    font-size: 0.7rem;
}

.lateral__card--yellow{
    color: black;
    background-color: rgb(244, 246, 248);
    
}

.lateral__icon2--yellow{
    color:rgb(255, 136, 0);
    background-color: rgba(206, 212, 25, 0.227);
}